*{
  font-family: inherit;
  font-size: 16px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.appBg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height:100vh;
  background: url('../public/business-table-office-map-workplace-learn-simple-powerpoint-background_7817e2a186__960_540.png');
  background-size: cover;
}
.loginForm{
  background-color: rgb(255,255,255,0.33);
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 255, 0.33);
  backdrop-filter: blur(3px) ;
  padding: 0px 16px 16px 16px;
  border-radius: 16px;
}
.socialLogin{
  display: flex;
  justify-content: center;
  gap: 24px;
  color: white;
  font-size: 30px;
}
.socialIcon{
  cursor: pointer;
}

.postContent{
  padding: 10px;
  border: 1px solid #e8e9eb;
  margin-left:200px;
  margin-right: 150px;
  background-color: white;
  border-radius: 10px;
}
.headerPost{
  padding: 5px;
 
}
.avatarUser{

  width: 40px;
  height: 40px;
  border-radius: 50%;
 
}
.createAt{
  margin-top: 4px;
}
.bodyContent{
  font-size: 18px;
}
.imageContent{
  padding-top: 20px;
  width: 100%;
  height: 500px;
background-size: cover;
}
.interact{
  font-size: 18px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  text-align: center;
  margin-top: 18px;
}
.btnInteract{
  padding: 3px 0 3px 0;

}
.textInteract{
  font-size: 18px;
  font-weight: bold;
}
.commentPost{
  margin-top: 10px;
}

